POSTGRES_USER=fintrack_user
POSTGRES_PASSWORD=replace_with_local_password
POSTGRES_DB=fintrack

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5332/fintrack
SPRING_DATASOURCE_USERNAME=fintrack_user
SPRING_DATASOURCE_PASSWORD=replace_with_local_password
